<nav class="menu">
	<ul>
		<li><a href="/team-a">GRUPO A</a></li>
		<li><a href="/team-b">GRUPO B</a></li>
		<li><a href="/team-c">GRUPO C</a></li>
		<li><a href="/team-d">GRUPO D</a></li>
	</ul>
</nav>
<h1>CLASIFICACIÓN</h1>
<h2>GRUPO B</h2>
<div class="container">
	<table>
		<thead>
			<tr>
				<th>#</th>
				<th></th>
				<th>EQUIPO</th>
				<th>PTS</th>
				<th>DF</th>
				<th>GF</th>
				<th>GC</th>
			</tr>
		</thead>
		<tbody>
			<tr class="row-1">
				<td class="number"></td>
				<td class="logo">
					<img class="logo-img" src="" alt="" />
				</td>
				<td class="team"></td>
				<td class="pts"></td>
				<td class="df"></td>
				<td class="gf"></td>
				<td class="gc"></td>
			</tr>
			<tr class="row-2">
				<td class="number"></td>
				<td class="logo">
					<img class="logo-img" src="" alt="" />
				</td>
				<td class="team"></td>
				<td class="pts"></td>
				<td class="df"></td>
				<td class="gf"></td>
				<td class="gc"></td>
			</tr>
			<tr class="row-3">
				<td class="number"></td>
				<td class="logo">
					<img class="logo-img" src="" alt="" />
				</td>
				<td class="team"></td>
				<td class="pts"></td>
				<td class="df"></td>
				<td class="gf"></td>
				<td class="gc"></td>
			</tr>
			<tr class="row-4">
				<td class="number"></td>
				<td class="logo">
					<img class="logo-img" src="" alt="" />
				</td>
				<td class="team"></td>
				<td class="pts"></td>
				<td class="df"></td>
				<td class="gf"></td>
				<td class="gc"></td>
			</tr>
		</tbody>
	</table>
</div>

<h1>PARTIDOS</h1>
<div class="matches">
	<div class="match match-1">
		<table>
			<tbody>
				<tr>
					<td class="logo-left">
						<img
							class="logo-left-img"
							src="/logos/Mars_logo.png"
							alt=""
						/>
					</td>
					<td class="team-left">Test A</td>
					<td class="team-left-score">0</td>
					<td class="score-line"> - </td>
					<td class="team-right-score">0</td>
					<td class="team-right">Team B</td>
					<td class="logo-right">
						<img
							class="logo-right-img"
							src="/logos/Mars_logo.png"
							alt=""
						/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="match match-2">
		<table>
			<tbody>
				<tr>
					<td class="logo-left">
						<img
							class="logo-left-img"
							src="/logos/Mars_logo.png"
							alt=""
						/>
					</td>
					<td class="team-left">Test A</td>
					<td class="team-left-score">0</td>
					<td class="score-line"> - </td>
					<td class="team-right-score">0</td>
					<td class="team-right">Team B</td>
					<td class="logo-right">
						<img
							class="logo-right-img"
							src="/logos/Mars_logo.png"
							alt=""
						/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="match match-3">
		<table>
			<tbody>
				<tr>
					<td class="logo-left">
						<img
							class="logo-left-img"
							src="/logos/Mars_logo.png"
							alt=""
						/>
					</td>
					<td class="team-left">Test A</td>
					<td class="team-left-score">0</td>
					<td class="score-line"> - </td>
					<td class="team-right-score">0</td>
					<td class="team-right">Team B</td>
					<td class="logo-right">
						<img
							class="logo-right-img"
							src="/logos/Mars_logo.png"
							alt=""
						/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="match match-4">
		<table>
			<tbody>
				<tr>
					<td class="logo-left">
						<img
							class="logo-left-img"
							src="/logos/Mars_logo.png"
							alt=""
						/>
					</td>
					<td class="team-left">Test A</td>
					<td class="team-left-score">0</td>
					<td class="score-line"> - </td>
					<td class="team-right-score">0</td>
					<td class="team-right">Team B</td>
					<td class="logo-right">
						<img
							class="logo-right-img"
							src="/logos/Mars_logo.png"
							alt=""
						/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="match match-5">
		<table>
			<tbody>
				<tr>
					<td class="logo-left">
						<img
							class="logo-left-img"
							src="/logos/Mars_logo.png"
							alt=""
						/>
					</td>
					<td class="team-left">Test A</td>
					<td class="team-left-score">0</td>
					<td class="score-line"> - </td>
					<td class="team-right-score">0</td>
					<td class="team-right">Team B</td>
					<td class="logo-right">
						<img
							class="logo-right-img"
							src="/logos/Mars_logo.png"
							alt=""
						/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="match match-6">
		<table>
			<tbody>
				<tr>
					<td class="logo-left">
						<img
							class="logo-left-img"
							src="/logos/Mars_logo.png"
							alt=""
						/>
					</td>
					<td class="team-left">Test A</td>
					<td class="team-left-score">0</td>
					<td class="score-line"> - </td>
					<td class="team-right-score">0</td>
					<td class="team-right">Team B</td>
					<td class="logo-right">
						<img
							class="logo-right-img"
							src="/logos/Mars_logo.png"
							alt=""
						/>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script>
	const SHEET_URL =
		"https://docs.google.com/spreadsheets/d/e/2PACX-1vTov0AwMJD55gTWDXoFVuMLgV6JKkUMMp-Gzuqzmkzw78om8Sb-LkWHy7rgMxlJWmK3hf9BFGlEwuFz/pub?gid=356431383&output=csv";

	const SHEET_URL_MATCHES =
		"https://docs.google.com/spreadsheets/d/e/2PACX-1vTov0AwMJD55gTWDXoFVuMLgV6JKkUMMp-Gzuqzmkzw78om8Sb-LkWHy7rgMxlJWmK3hf9BFGlEwuFz/pub?gid=1216479483&output=csv";

	const teamLogos = {
		"TEAM APOLLO": "/logos/Apollo_logo.png",
		"TEAM ASTEROID": "/logos/Asteroid_logo.png",
		"TEAM ASTRO": "/logos/Astro_logo.png",
		"TEAM COMET": "/logos/Comet_logo.png",
		"TEAM EARTH": "/logos/Earth_logo.png",
		"TEAM GALILEO": "/logos/Galileo_logo.png",
		"TEAM JUPITER": "/logos/Jupiter_logo.png",
		"TEAM MARS": "/logos/Mars_logo.png",
		"TEAM MERCURY": "/logos/Mercury_logo.png",
		"TEAM METEOR": "/logos/Meteor_logo.png",
		"TEAM NEPTUNE": "/logos/Neptune_logo.png",
		"TEAM PLUTO": "/logos/Pluto_logo.png",
		"TEAM SATURN": "/logos/Saturn_logo.png",
		"TEAM TITAN": "/logos/Titan_logo.png",
		"TEAM URANUS": "/logos/Uranus_logo.png",
		"TEAM VENUS": "/logos/Venus_logo.png",
	};

	const fetchData = async () => {
		try {
			const response = await fetch(SHEET_URL);
			const text = await response.text();
			const rows = text
				.split("\n")
				.map((row) => row.split(",").map((cell) => cell.trim()));

			console.log("Fetched Rows:", rows);

			const data = rows.slice(3, 7).map((row) => {
				const teamName = row[2];
				const logoURL =
					teamLogos[teamName as keyof typeof teamLogos] || "";
				return {
					number: row[1],
					team: teamName,
					logo: logoURL,
					pts: row[3],
					df: row[5],
					gf: row[6],
					gc: row[7],
				};
			});

			const rowsHtml = document.querySelectorAll("tbody tr");
			data.forEach((rowData, index) => {
				if (rowsHtml[index]) {
					const numberCell = rowsHtml[index].querySelector(".number");
					if (numberCell) {
						numberCell.textContent = rowData.number;
					}
					const teamCell = rowsHtml[index].querySelector(".team");
					if (teamCell) {
						teamCell.textContent = rowData.team;
					}
					const logoCell = rowsHtml[index].querySelector(
						".logo-img",
					) as HTMLImageElement;
					if (logoCell) {
						logoCell.src = rowData.logo || "";
						logoCell.alt = rowData.team
							? `${rowData.team} Logo`
							: "Team Logo";
					}
					const ptsCell = rowsHtml[index].querySelector(".pts");
					if (ptsCell) {
						ptsCell.textContent = rowData.pts;
					}
					const dfCell = rowsHtml[index].querySelector(".df");
					if (dfCell) {
						dfCell.textContent = rowData.df;
					}
					const gfCell = rowsHtml[index].querySelector(".gf");
					if (gfCell) {
						gfCell.textContent = rowData.gf;
					}
					const gcCell = rowsHtml[index].querySelector(".gc");
					if (gcCell) {
						gcCell.textContent = rowData.gc;
					}
				}
			});

			const responseMatches = await fetch(SHEET_URL_MATCHES);
			const textMatches = await responseMatches.text();
			const rowsMatches = textMatches
				.split("\n")
				.map((row) => row.split(",").map((cell) => cell.trim()));

			console.log("Fetched Rows:", rowsMatches);

			const dataMatches = rowsMatches.slice(2, 8).map((row) => {
				const teamLeft = row[1];
				const teamRight = row[5];
				const logoURLLeft =
					teamLogos[teamLeft as keyof typeof teamLogos] || "";
				const logoURLRight =
					teamLogos[teamRight as keyof typeof teamLogos] || "";
				return {
					teamLeft: teamLeft,
					teamRight: teamRight,
					logoLeft: logoURLLeft,
					logoRight: logoURLRight,
					scoreLeft: row[2],
					scoreRight: row[4],
				};
			});

			console.log(dataMatches);

			const rowsHtmlMatches =
				document.querySelectorAll(".match table tr");
			dataMatches.forEach((rowData, index) => {
				if (rowsHtmlMatches[index]) {
					const teamLeftCell =
						rowsHtmlMatches[index].querySelector(".team-left");
					if (teamLeftCell) {
						teamLeftCell.textContent = rowData.teamLeft;
					}
					const logoLeftCell = rowsHtmlMatches[index].querySelector(
						".logo-left-img",
					) as HTMLImageElement;
					if (logoLeftCell) {
						logoLeftCell.src = rowData.logoLeft || "";
						logoLeftCell.alt = rowData.teamLeft
							? `${rowData.teamLeft} Logo`
							: "Team Logo";
					}
					const teamRightCell =
						rowsHtmlMatches[index].querySelector(".team-right");
					if (teamRightCell) {
						teamRightCell.textContent = rowData.teamRight;
					}
					const logoRightCell = rowsHtmlMatches[index].querySelector(
						".logo-right-img",
					) as HTMLImageElement;
					if (logoRightCell) {
						logoRightCell.src = rowData.logoRight || "";
						logoRightCell.alt = rowData.teamRight
							? `${rowData.teamRight} Logo`
							: "Team Logo";
					}
					const scoreLeftCell =
						rowsHtmlMatches[index].querySelector(
							".team-left-score",
						);
					if (scoreLeftCell) {
						scoreLeftCell.textContent = rowData.scoreLeft;
					}
					const scoreRightCell =
						rowsHtmlMatches[index].querySelector(
							".team-right-score",
						);
					if (scoreRightCell) {
						scoreRightCell.textContent = rowData.scoreRight;
					}
				}
			});
		} catch (error) {
			console.error("Error fetching data:", error);
		}
	};

	document.addEventListener("DOMContentLoaded", fetchData);
</script>

<style>
	body {
		background-color: rgb(9, 255, 0);
		color: white;
	}
	.container {
		display: flex;
		justify-content: center;
		margin: 0 auto;
		padding: 1rem;
	}

	table {
		border-collapse: collapse;
		margin-bottom: 0;
	}

	th {
		background-color: white;
		color: black;
		font-weight: bold;
		text-align: center;
		padding: 5px;
	}

	td {
		font-weight: bold;
		text-align: center;
		padding: 10px;
	}

	.number {
		width: 50px;
	}

	.team {
		text-align: left;
		width: 200px;
	}

	.logo {
		display: flex;
		justify-content: center;
		width: 30px;
	}

	.logo img {
		width: 40px;
	}

	.pts {
		width: 70px;
	}

	.df {
		width: 70px;
	}

	.gf {
		width: 70px;
	}

	.gc {
		width: 70px;
	}

	h1 {
		text-align: center;
		font-size: 48px;
		margin-bottom: 0;
	}

	h2 {
		margin-top: 0;
		text-align: center;
		font-size: 32px;
	}

    nav {
        font-size: 14px;
    }

	ul {
		display: flex;
		justify-content: center;
		gap: 50px;
		margin: 1rem 10rem;
	}

	ul li {
		list-style: none;
	}

    ul li a {
        color: rgb(34, 34, 34);
        text-decoration: none;
        transition: all 0.5ms;
        background-color: white;
        border-radius: 20px;
        padding: 10px 20px;
    }

    ul li a:hover {
        background-color: rgb(206, 206, 206);
    }

    .match {
        display: flex;
        justify-content: center;
		font-size: 18px;
    }

    .match table {
        border-collapse: collapse;
    }

    .match table tr {
        height: 70px;
    }

	.match table td {
		padding: 0;
	}

    .team-left,
    .team-right {
		width: 150px;
    }

	.team-left {
		text-align: left;
	}

    .team-right {
        text-align: right;
    }

    .logo-left,
    .logo-right {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
    }

    .logo-left-img,
    .logo-right-img {
        width: 40px;
        height: 40px;
		padding: 0 10px;
    }

	.team-left-score,
	.team-right-score {
		width: 50px;
	}

	.matches {
		margin-top: 1rem;
		margin-bottom: 4rem;
	}
</style>
